@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Russo One', sans-serif;
}





/** header **/
header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

#logo {
    float: left;
    width: 25%;
    height: 50px;
}

#menu li {
    list-style-type: none;
    float: right;
    padding: 20px;
    font-size: 125%;
}

#menu a {
    text-decoration: none;
    color: #E6395C;
}

#menu a:hover {
    color: #22AFE6;
}


/** Hero Image Section **/

#hero {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    background: url('../images/index_hero_image.jpg') no-repeat center center;
    width: 100%;
    height: 800px;
    background-size: cover;
    position: relative;
    background-color: #3a3a3a;
}

#hero-text {
    position: absolute;
    color: #E6395C;
    top: 30%;
    text-align: center;
    width: 60%;
    background-color: rgba(201, 201, 201, .4);
    margin: 0 20% 0 20%;
}

#hero-text h1 {
    padding: 40px;
    font-size: 350%;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#hero-text h3 {
    padding: 40px;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#consult-button {
    position: absolute;
    bottom: 15%;
    left: 50%;
    margin-left: -125px;
}

#consult-button>a {
    width: 250px;
    height: 60px;
    color: #E6395C;
    border: solid 5px #E6395C;
    font-family: 'russo one', sans-serif;
    font-size: large;
    background-color: transparent;
    border-radius: 15px;
    text-decoration: none;
    padding: 20px;
    margin: auto;
}

#consult-button a:hover {
    color: #22AFE6;
    border-color: #22AFE6;
}

/** About Us Section **/

#about-us {
    position: absolute;
<<<<<<< HEAD
    width: 100%;
    height: 1000px;
=======
    width: 90%;
    height: 1000px;
    margin: 0 5% 0 5%;
>>>>>>> refs/remotes/origin/main
}

#about-us h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'russo one', sans-serif;
    color: #E6395C;
    font-size: 300%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#main-blurb {
    width: 90%;
    color: #E6395C;
    text-align: center;
    margin: auto;
<<<<<<< HEAD
    margin-bottom: 10px;
    position: relative;
    display: block;
=======
    display: block;
    margin-bottom: 10px;
>>>>>>> refs/remotes/origin/main
}

#about-left {
    display: inline-block;
    width: 25%;
    border: solid 5px #E6395C;
    height: 600px;
    border-radius: 15px;
    margin: 5% 2.5% 5% 2.5%;
}

#about-center {
    display: inline-block;
    width: 25%;
    margin: auto;
    border: solid 5px #E6395C;
    height: 600px;
    border-radius: 15px;
    margin: 5% 2.5% 5% 2.5%;
}

#about-right {
    display: inline-block;
    width: 25%;
    height: 600px;
    border: solid 5px #E6395C;
    border-radius: 15px;
    margin: 5% 2.5% 5% 2.5%;
}

.about-img {
    position: relative;
    left: 50%;
    height: 100px;
    width: 100px;
    margin-left: -50px;
    padding-top: 30px;
}

.info-box>h3 {
    text-align: center;
    font-size: 200%;
    letter-spacing: 2px;
    padding: 50px;
    text-decoration: underline;
    color: #E6395C;
}