* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Russo One', sans-serif;
    background-color: black;
}

.section-header {
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'orbitron', sans-serif;
    color: #4EDE26;
    text-align: center;
    font-size: 3em;
    padding-top: 30px;
    padding-bottom: 30px;
}



/** header **/
header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: black;
}

.logo {
    float: left;
    width: 25%;
    height: 50px;
}

.drop_menu {
    display: none;
}

.menu li {
    list-style-type: none;
    float: right;
    padding: 10px;
    font-size: 125%;
    border: 2px solid #4EDE26;
    border-radius: 10px;
}

.menu a {
    text-decoration: none;
    color: #4EDE26;
}

.menu a:hover {
    color: #ffffff;
}


/** Hero Image Section **/

.hero {
    position: relative;
    height: 800px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.hero-image {
    background: url('../images/index_hero_image.webp') no-repeat center center;
    width: 100%;
    height: 800px;
    background-size: cover;
    position: relative;
    background-color: #3a3a3a;
}

.hero-text {
    position: relative;
    color: #4EDE26;
    top: 20%;
    text-align: center;
    width: 70%;
    background-color: rgba(54, 69, 79, .8);
    margin: 0 15% 0 15%;
    border-radius: 50px;
}

.hero-text h1 {
    padding: 40px;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.hero-text h3 {
    padding: 40px;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.index-hero h1 {
    font-size: 6em;
}

.consult-button {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 10%;
}

.consult-button>a {
    width: 250px;
    height: 20px;
    color: #ffffff;
    border: solid 5px #ffffff;
    font-family: 'orbitron', sans-serif;
    font-size: 1.25em;
    text-align: center;
    background-color: transparent;
    border-radius: 15px;
    text-decoration: none;
    padding: 20px;
    margin: auto;
}

.consult-button a:hover {
    color: #4EDE26;
    border-color: #4EDE26;
}

/** About Us Section **/

.about-us {
    width: 100%;
}

.about-us>p {
    width: 70%;
    max-width: 90%;
    margin: 0 auto;
    color: #ffffff;
    margin: auto;
    font-size: 1em;
    text-align: center;
    margin-bottom: 10px;
}

.info-box-outer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.info-box>h3 {
    top: 5%;
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
    padding: 10px;
    margin-bottom: 30px;
    text-decoration: underline;
    color: #4EDE26;
}

.info-box>p {
    font-size: 1em;
    width: 90%;
    text-align: center;
    padding: 1% 5% 1% 5%;
    color: #4EDE26;
}

.info-bg {
    background: url('../images/info-box-bg.webp') no-repeat center center;
    width: 100%;
    height: 800px;
    background-size: cover;
    position: relative;
    background-color: #3a3a3a;
}

.info-box {
    position: relative;
    width: 30%;
    border: solid 5px #ffffff;
    box-shadow: 5px 10px 8px #ffffff;
    height: 400px;
    border-radius: 15px;
    display: inline-block;
    margin: 3%;
}

/** Meet Our Artists Section **/

.meet-artists {
    width: 100%;
}

.artists-image {
    background: url('../images/meet_artists.webp') no-repeat center center;
    width: 100%;
    height: 800px;
    background-size: cover;
    position: relative;
    background-color: #3a3a3a;
}

.artists-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.artist-box {
    position: relative;
    width: 25%;
}

.artist-box>img {
    height: 250px;
    width: 250px;
    border: 5px solid #ffffff;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.artist-box>p {
    font-size: 20px;
    position: relative;
    color: #4EDE26;
    text-align: center;
    background-color: rgba(54, 69, 79, .8);
    margin-top: 10%;
    border-radius: 30px;
    padding: 10px;
}

.artist-box>h3 {
    font-size: 30px;
    position: relative;
    color: #4EDE26;
    text-align: center;
    background-color: rgba(54, 69, 79, .8);
    margin-top: 10%;
    border-radius: 30px;
}

.artist-button {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10%;
}

.artist-button>a {
    width: 200px;
    height: 20px;
    color: #ffffff;
    border: solid 5px #ffffff;
    font-family: 'orbitron', sans-serif;
    font-size: 1.25em;
    text-align: center;
    background-color: transparent;
    border-radius: 15px;
    text-decoration: none;
    padding: 20px;
    margin: auto;
}

.artist-button a:hover {
    color: #4EDE26;
    border-color: #4EDE26;
}

/** Review Block **/

.review-block {
    width: 100%;
}

.review-boxes {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.reviewer {
    width: 70%;
    height: auto;
    margin: -50px 15% 0 15%;
}

.reviewer>img {
    width: 100%;
    height: 100%;
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: block;
}

.review {
    height: 600px;
    width: 22%;
    border: solid 5px #ffffff;
    box-shadow: 5px 10px 8px #ffffff;
    border-radius: 15px;
}

.review>h2 {
    color: gold;
    font-size: 200%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.review>h3 {
    color: #4EDE26;
    font-size: 150%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10px;
    padding-right: 10px;
}

.review>p {
    color: #4EDE26;
    text-align: center;
    border-top: 2px solid #ffffff;
    padding: 20px;
    position: relative;
    bottom: 0;
    font-size: medium;
}

.review-boxes-carousel {
    display: none;
}

/** Footer **/

footer {
    height: 120px;
    width: 100%;
    background-color: black;
}

.socials {
    text-align: center;
}

.socials>li {
    display: inline;
}

.socials i {
    font-size: 175%;
    padding: 5px;
    margin: 2% 5%;
    color: #4EDE26;
}

.socials i:hover {
    color: #ffffff;
}

/** Meet The Artists Page **/

.artist-section {
    width: 100%;
}

.artist-image {
    width: 25%;
    height: 400px;
    border: 2px solid #ffffff;
    box-shadow: 5px 10px 8px #ffffff;
    border-radius: 10px;
}

.artist-info {
    width: 60%;
    height: 400px;
    margin: 50px 50px;
    border: 2px solid #ffffff;
    box-shadow: 5px 10px 8px #ffffff;
    border-radius: 10px;
}

.dante-image {
    background: url('../images/artist-male.webp');
    background-size: cover;
    float: left;
    margin: 50px 0 50px 50px;
}

.dante-info {
    float: right;
}

.isla-image {
    background: url('../images/artist-female.webp');
    background-size: cover;
    float: right;
    margin: 50px 50px 50px 0;
}

.isla-info {
    float: left;
}

.artist-info>p {
    text-align: center;
    font-size: 0.9em;
    margin: 10px;
}

.artist-section p {
    color: white;
    padding: 5px;
    letter-spacing: 1px;
}

.gallery {
    padding: 20px;
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 10px;
}

.gallery>img {
    width: 100%;
    filter: grayscale(100%);
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin-top: 10px;
    transition: all .25s ease-in-out;
}

.gallery>img:hover {
    filter: grayscale(0%);
}

/** Contact Page **/

.contact-info {
    position: absolute;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    bottom: 0%;
}

.contact-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 50px;
    border: 2px solid #ffffff;
    background-color: rgba(54, 69, 79, .8);
}

.contact-box>i {
    font-size: 300%;
    margin-top: 10%;
    text-align: center;
    color: #4EDE26;
}

.contact-box>p {
    height: 100px;
    text-align: center;
    margin-top: 10%;
    letter-spacing: 2px;
    color: #4EDE26;
}

.consultation-outer {
    height: 750px;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.form {
    width: 80%;
    height: auto;
    position: absolute;
    background-color: rgba(54, 69, 79, .8);
    margin: 0 10% 0 10%;
    border-radius: 10px;
}

.form-field {
    display: flex;
    width: 80%;
    margin: 0 10% 0 10%;
    justify-content: center;
}

label {
    float: left;
    width: 20%;
    color: #4EDE26;
    margin: 30px;
    text-align: right;
    font-size: 1em;
}

.legend-class {
    float: left;
    width: 20%;
    color: #4EDE26;
    margin: 30px;
    text-align: right;
    font-size: 1em;
}

.radio-line {
    width: 40%;
    text-align: left;
}

.radio-label {
    width: 10%;
    border: 2px solid #4EDE26;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.form input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.form input[type="radio"]:hover+label {
    color: #ffffff;
    border: 2px solid #ffffff;
}

.form input[type="radio"]:focus+label {
    color: #ffffff;
    border: 2px solid #ffffff;
}

.message {
    width: 95%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 2px solid #4EDE26;
    border-radius: 10px;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 15px;
}

.message::placeholder {
    color: #ffffff;

}

.form-input {
    display: flex;
    width: 60%;
    height: 30px;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #4EDE26;
    color: #ffffff;
    letter-spacing: 1px;
    border-radius: 10px;
}


.submit_button {
    float: right;
    margin-right: 5%;
    margin-bottom: 20px;
    width: 100px;
    height: 50px;
    color: #4EDE26;
    border: solid 5px #4EDE26;
    font-family: 'orbitron', sans-serif;
    font-size: large;
    background-color: transparent;
    border-radius: 15px;
    text-decoration: none;
}

.submit_button:hover {
    color: #ffffff;
    border-color: #ffffff;
}


@media screen and (max-width:1100px) {

    /** Index Page Media Queries **/

    .logo {
        height: 55px;
        width: 30%;
    }

    .menu {
        display: none;
    }

    .drop_menu {
        display: initial;
        float: right;
        color: #4EDE26;
        position: relative;

    }

    .menu_img>i {
        width: 50px;
        height: 50px;
        color: #4EDE26;
        border: 2px solid #4EDE26;
        border-radius: 10px;
        font-size: 50px;
        padding-left: 5px;
        right: 0;
    }

    .dropdown {
        position: relative;
        height: 200px;
        width: 250px;
        display: none;
    }

    .drop_menu:focus .dropdown {
        position: absolute;
        right: 0;
        display: inline-block;
        text-align: right;
    }

    .drop_menu li {
        list-style-type: none;
        position: relative;
        padding: 10px;
        font-size: 125%;
        border: 2px solid #4EDE26;
        border-radius: 10px;
        background-color: black;
        min-width: 200px;
    }

    .drop_menu a {
        text-decoration: none;
        color: #4EDE26;
    }

    .drop_menu a:hover {
        color: #ffffff;
    }

    .hero-text {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .info-box-outer {
        justify-content: initial;
        flex-direction: column;
    }

    .info-box {
        position: relative;
        width: 90%;
        border: solid 5px #ffffff;
        height: 250px;
        border-radius: 15px;
        display: inline-block;
        margin: 3%;
    }

    .artists-image {
        height: 600px;
    }

    .artist-box>img {
        height: 150px;
        width: 150px;
        border: 5px solid #ffffff;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    .review-boxes {
        width: auto;
        display: none;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        margin: 20px;
    }

    .review {
        width: 100%;
        height: 100%;
        display: inline-block;
    }

    .review>h3 {
        margin: 5px 10px;
    }

    .review>p {
        white-space: normal;
        font-size: 1em;
    }

    .reviewer {
        width: 50%;
        margin: 5% 25% 0 25%;
    }

    /** Carousel section - code found on codepen.io - written by Andrew Chaika (andrewchaika) **/
    
    .review-boxes-carousel {
        display: initial;
    }

    .carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
    }

    .carousel-inner {
        position: relative;
        overflow: hidden;
        width: 70%;
        padding: 10px;
        margin: 0 15% 0 15%;
    }

    .carousel-open:checked + .carousel-item {
        position: static;
        opacity: 100;
    }

    .carousel-item {
        position: absolute;
        opacity: 0;
        -webkit-transition: opacity 0.6s ease-out;
        transition: opacity 0.6s ease-out;
    }

    .carousel-item img {
        display: block;
        height: auto;
        max-width: 100%;
    }

    .carousel-control {
        background: rgba(0, 0, 0, 0.28);
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        display: none;
        font-size: 40px;
        height: 40px;
        line-height: 35px;
        position: absolute;
        top: 40%;
        -webkit-transform: translate(0, -50%);
        cursor: pointer;
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        text-align: center;
        width: 40px;
        z-index: 10;
    }

    .carousel-control.prev {
        left: 2%;
    }

    .carousel-control.next {
        right: 2%;
    }

    .carousel-control:hover {
        background: rgba(0, 0, 0, 0.8);
        color: #aaaaaa;
    }

    #carousel-1:checked ~ .control-1,
    #carousel-2:checked ~ .control-2,
    #carousel-3:checked ~ .control-3,
    #carousel-4:checked ~ .control-4 {
        display: block;
    }

    .indicator-block {
        margin: 10px;
        margin-top: 50px;
        padding: 5px;
        height: 50px;
    }

    .carousel-indicators {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 2%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
    }

    .carousel-indicators li {
        display: inline-block;
        margin: 0 5px;
    }

    .carousel-bullet {
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 35px;
    }

    .carousel-bullet:hover {
        color: #aaaaaa;
    }

    #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
    #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
    #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
    #carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet {
        color: #428bca;
    }

    #title {
        width: 100%;
        position: absolute;
        padding: 0px;
        margin: 0px auto;
        text-align: center;
        font-size: 27px;
        color: rgba(255, 255, 255, 1);
        font-family: 'Open Sans', sans-serif;
        z-index: 9999;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
    }




    /** Artists Page Media Queries **/

    .artist-image {
        width: 50%;
        height: 300px;
        margin: 50px 25% 20px 25%;
        border: 2px solid #ffffff;
        background-position: center;
    }

    .artist-info {
        width: 90%;
        height: 300px;
        margin: 5%
    }

    .artist-info>p {
        margin: 10px;
    }

}

@media screen and (max-width:768px) {

    .logo {
        width: 60%;
    }

    .section-header {
        font-size: 2em;
    }

    .index-hero h1 {
        font-size: 4em;
    }

    .about-us>p {
        width: 80%;
    }

    .info-box>h3 {
        margin-bottom: 10px;
    }

    #about-left {
        height: 200px;
    }

    #about-center {
        height: 200px;
    }

    #about-right {
        height: 200px;
    }

    .artist-box {
        width: 40%;
    }

    .artist-box>p {
        display: none;
    }

    ul.slides {
        height: 600px;
    }

    .artist-info {
        height: auto;
    }

    .artist-info>p {
        font-size: 0.75em;
    }

    .gallery {
        column-count: 2;
    }

    .form-field {
        display: block;
    }

    label {
        display: block;
        width: 100%;
        text-align: center;
        text-decoration: underline;
        margin: 10px 0 10px 0;
    }

    .form-input {
        display: block;
        width: 100%;
    }

    .radio-line {
        width: 100%;
        text-align: center;
    }

    .radio-label {
        text-decoration: none;
        width: 40%;
        margin: 10px;

    }

    .message {
        width: 100%;
    }
}

@media screen and (max-width:550px) {

    .hero {
        height: 700px;
    }

    .hero-image {
        height: 700px;
    }

    .hero-text h1 {
        font-size: 2.5em;
        padding: 20px;
    }

    .hero-text h3 {
        font-size: 1.2em;
    }

    .consult-button>a {
        width: 150px;
        font-size: 0.8em;
    }

    .about-us>p {
        font-size: 0.8em;
    }

    .info-box {
        height: 300px;
    }

    .info-box>h3 {
        font-size: 1.5em;
    }

    .info-box>p {
        font-size: 0.8em;
    }

    .artist-box>img {
        width: 90px;
        height: 90px;
    }

    .artist-box>h3 {
        font-size: 20px;
    }

    .artist-button>a {
        width: 150px;
        font-size: 0.8em;
    }

    .review {
        height: 90%;
        box-shadow: none;
    }

    .review>h2 {
        font-size: 1.25em;
    }

    .review>h3 {
        font-size: 1em;
    }

    .review>p {
        font-size: 0.8em;
    }

    .carousel-inner {
        position: relative;
        overflow: hidden;
        width: 90%;
        padding: 10px;
        margin: 0 5% 0 5%;
    }
    
    footer {
        height: 60px;
    }

    .socials i {
        font-size: 120%;
        margin: 2% 3%;
    }

    .artist-image {
        width: 80%;
        margin: 50px 10% 20px 10%;
    }

    .form {
        width: 100%;
        margin: 0;
    }

    .form-field {
        width: 90%;
        margin: 0 5% 0 5%;
    }

    label {
        margin-left: 0;
        margin-right: 0;
    }

    .radio-label {
        width: 30%;
    }

    .contact-info {
        flex-direction: column;
        justify-content: center;
    }

    .contact-box {
        border-radius: 10px;
        height: 40px;
        width: 100%;
        margin-top: 20px;
    }

    .contact-box>i {
        position: absolute;
        font-size: 1.5em;
        text-align: left;
        margin: 5px;
        width: fit-content;
        float: left;
    }

    .contact-box>p {
        position: absolute;
        font-size: 0.75em;
        height: auto;
        width: fit-content;
        right: 5px;
        margin-top: 0;
        margin-left: 10px;
        padding: 10px;
    }

    .contact-box br {
        display: none;
    }
}