@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Russo+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Orbitron:wght@500&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Russo One', sans-serif;
}

.section-header {
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'russo one', sans-serif;
    color: #E6395C;
    text-align: center;
    font-size: 300%;
    padding-top: 30px;
    padding-bottom: 30px;
}



/** header **/
header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: black;
}

#logo {
    float: left;
    width: 25%;
    height: 50px;
}

#menu li {
    list-style-type: none;
    float: right;
    padding: 20px;
    font-size: 125%;
}

#menu a {
    text-decoration: none;
    color: #4EDE26;
}

#menu a:hover {
    color: #22AFE6;
}


/** Hero Image Section **/

#hero {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    background: url('../images/index_hero_image.jpg') no-repeat center center;
    width: 100%;
    height: 800px;
    background-size: cover;
    position: relative;
    background-color: #3a3a3a;
}

#hero-text {
    position: relative;
    color: #E6395C;
    top: 30%;
    text-align: center;
    width: 60%;
    background-color: rgba(201, 201, 201, .4);
    margin: 0 20% 0 20%;
}

#hero-text h1 {
    padding: 40px;
    font-size: 350%;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#hero-text h3 {
    padding: 40px;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#consult-button {
    position: absolute;
    bottom: 15%;
    left: 50%;
    margin-left: -125px;
}

#consult-button>a {
    width: 250px;
    height: 60px;
    color: #E6395C;
    border: solid 5px #E6395C;
    font-family: 'russo one', sans-serif;
    font-size: large;
    background-color: transparent;
    border-radius: 15px;
    text-decoration: none;
    padding: 20px;
    margin: auto;
}

#consult-button a:hover {
    color: #22AFE6;
    border-color: #22AFE6;
}

/** About Us Section **/

#about-us {
    width: 100%;
    height: 1000px;
}

#main-blurb {
    width: 90%;
    margin: 0 auto;
    color: #E6395C;
    margin: auto;
    font-size: large;
    text-align: center;
    margin-bottom: 10px;
}

#info-box-outer {
    width: 100%;
    height: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
}

#about-left {
    position: relative;
    width: 25%;
    border: solid 5px #E6395C;
    height: 500px;
    border-radius: 15px;
    display: inline-block;
    margin: 3%;
}

#about-center {
    position: relative;
    width: 25%;
    margin: 0 auto;
    border: solid 5px #E6395C;
    height: 500px;
    border-radius: 15px;
    display: inline-block;
    margin: 3%;
}

#about-right {
    position: relative;
    width: 25%;
    height: 500px;
    border: solid 5px #E6395C;
    border-radius: 15px;
    display: inline-block;
    margin: 3%;
}

.about-img {
    position: absolute;
    left: 50%;
    height: 70px;
    width: 70px;
    margin-left: -35px;
    padding-top: 30px;
}

.info-box>h3 {
    position: relative;
    top: 20%;
    text-align: center;
    font-size: 200%;
    letter-spacing: 2px;
    padding: 50px;
    text-decoration: underline;
    color: #E6395C;
}

.info-box>p {
    position: absolute;
    font-size: 15px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    bottom: 10px;
    padding: 0 5% 0 5%;
}


/** Meet Our Artists Section **/

#meet-artists {
    height: 800px;
    width: 100%;
}

#artists-image {
    background: url('../images/meet_artists.jpg') no-repeat center center;
    width: 100%;
    height: 800px;
    background-size: cover;
    position: relative;
    background-color: #3a3a3a;
}

.artists-div {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#artist-left {
    position: relative;
    width: 30%;
    border: solid 5px #E6395C;
    height: 300px;
    border-radius: 15px;
    display: inline-block;
    margin: 3%;
}

#artist-left>img {
    height: 200px;
    width: 200px;
    border: 5px solid #4EDE26;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#artist-right {
    position: relative;
    width: 30%;
    border: solid 5px #E6395C;
    height: 300px;
    border-radius: 15px;
    display: inline-block;
    margin: 3%;
}

#artist-right>img {
    height: 200px;
    width: 200px;
    border: 5px solid #4EDE26;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/** Review Block **/

#review-block {
    height: 600px;
    width: 100%;
}

#review-boxes {
    display: flex;
    justify-content: space-around;
}

.review {
    height: 400px;
    width: 20%;
    border: solid 5px #E6395C;
    border-radius: 15px;
}

/** Footer **/

footer {
    height: 120px;
    width: 100%;
    background-color: black;
}

.socials {
    text-align: center;
}

.socials>li {
    display: inline;
}

.socials i {
    font-size: 175%;
    padding: 5px;
    margin: 2% 5%;
    color: #4EDE26;
}

.socials i:hover {
    border: 2px solid #4EDE26;
    border-radius: 50%;
}