@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Russo One', sans-serif;
}





/** header **/
header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

#logo {
    float: left;
    width: 25%;
    height: 50px;
}

#menu li {
    list-style-type: none;
    float: right;
    padding: 20px;
    font-size: 125%;
}

#menu a {
    text-decoration: none;
    color: #E6395C;
}

#menu a:hover {
    color: #22AFE6;
}


/** Hero Image Section **/

#hero {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    background: url('../images/index_hero_image.jpg') no-repeat center center;
    width: 100%;
    height: 800px;
    background-size: cover;
    position: relative;
    background-color: #3a3a3a;
}

#hero-text {
    position: absolute;
    color: #E6395C;
    position: absolute;
    top: 30%;
    text-align: center;
    width: 60%;
    background-color: rgba(201, 201, 201, .4);
    margin: 0 20% 0 20%;
}

#hero-text h1 {
    padding: 40px;
    font-size: 350%;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#hero-text h3 {
    padding: 40px;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 3px;
}